@import "../../styles/variables.scss";

button {
    text-align: center;
    font-family: $font;
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid $primary;
    background-color: $light;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: $dark;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: 200ms;
    // box-shadow: 0px 4px 10px grey;
    text-decoration: none;


    &:hover {
        background-color: $dark;
        color: $light;
        border: 1px solid transparent; //fiz isso para não haver o deslocamento dos elementos ao tirar a borda

        svg {
            color: $light;
        }
    }

    svg {
        color: $dark;
        transition: 200ms;
    }
}
